.container{
    padding:60px 5px;
    min-height: 100%;
}

h3{
    color: darkgreen;
    font-size: 1.2em;
}

.content
{
    margin: auto;


}
h2{
    font-size: 1.0em;
}
h5{
    font-size: 0.8em;
    padding: 5px;
}

