
.cover{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://res.cloudinary.com/mentome/image/upload/v1514543093/books.jpg");
    background-size: cover;
    background-position: center;
    min-height:100%;
    color: #fff;
    display:flex;
    flex-direction: column;
 }
 
 .reg-form {
     
     background: #fff;
     padding: 20px;
     border: 1px solid #fff;
     color:#000;
     
     margin-bottom:100px;
     width: 320px;
     /*height: 350px;*/
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     
 }
 .clearfix::after{
     content: '';
     display: block;
     clear: both;
     visibility: hidden;
 
 }
 /*.signup-content{
     background: #fff;
     
     float: right;
     
     width: 60%;
 
 }*/
 
 .content {
     margin:100px 0px 0 10px;
 
 }
 .btn-primary
 {
    background-color: rgb(9, 72, 245);
 }
 
 