<div class="container">
  <div *ngIf="updated && success" class="alert alert-success">
    <div class="text-center">
      {{message}}
    </div>
  </div>
  <div *ngIf="updated && !success" class="alert alert-danger">
    <div class="text-center">
      {{message}}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
        <div class="pic" *ngIf="!imageurl">
            {{user?.initial}}
          </div>
          <img *ngIf='imageurl' class="center-cropped" [src]="imageurl" width="200" height="200" style="border-radius: 50%">
      

        <ng-container *ngIf="authService.isMentor()">
            <div class="file-upload">

        
            
            <input id ="file-input"  (change)='upload($event)' type="file" #fileInput>
            <label for = "file-input" >
                <button   class="btn btn-primary" >Upload photo</button> 
              </label>
          </div>
          <button (click)='removePhoto()'class='btn btn-link'>Remove photo</button>
          
        </ng-container>
      

          
    </div>
    <hr/>
    <div class="col-sm-8">
        <div class="card mb-5">
            <div class="card-body">
                <edit-form *ngIf ='user' [user]='user'></edit-form>
            </div>
          
          </div>
    </div>
  </div>

</div>

<div *ngIf="updated && success" class="alert alert-success">
  <div class="text-center">
    {{message}}
  </div>
</div>
<div *ngIf="updated && !success" class="alert alert-danger">
  <div class="text-center">
    {{message}}
  </div>
</div>
