<div class="container-fluid">

  <div class="row">
    <div *ngIf='authService.isMentor(); then mentor ;else student'></div>

    <ng-template #mentor>
      <div class="col-sm-3">
        <profile-card [user]='user' [isProfile]='true' [isMentor]='true'></profile-card>
        <div>

          <a class="edit" routerLink='/profile/edit'>Edit Profile</a>


        </div>
        <div>
          <ng-container *ngIf='showProfile'>
            <button class='btn btn-primary' (click)='showProfile=!showProfile'>Show History</button>
          </ng-container>
          <ng-container *ngIf='!showProfile'>
            <button class='btn btn-primary' (click)='showProfile=!showProfile'>Hide History</button>
          </ng-container>
        </div>

      </div>
      <div class="col-sm-6">

        <profile-info [user]='user'></profile-info>

      </div>
      <div class="col-sm-3">
        <ng-container *ngFor='let subject of user?.subjects'>
          <subject-card [subject]='subject'></subject-card>
        </ng-container>

      </div>

      <div class="col-sm-9" *ngIf='!showProfile' style="margin-top: 20px;">
          <job-history [isMentor]='true'></job-history>
        </div>

    </ng-template>





    <ng-template #student>
      <div class="col-sm-3">
        <profile-card [user]='user' [isProfile]='true' [isMentor]='false'></profile-card>
        <div>

          <a class="edit" routerLink='/profile/edit'>Edit Profile</a>


        </div>
        <div>
          <ng-container *ngIf='showProfile'>
            <button class='btn btn-primary' (click)='showProfile=!showProfile'>Show History</button>
          </ng-container>
          <ng-container *ngIf='!showProfile'>
            <button class='btn btn-primary' (click)='showProfile=!showProfile'>Hide History</button>
          </ng-container>
        </div>

      </div>
      <div class="col-sm-6">

        <profile-info [user]='user'></profile-info>

      </div>
     

        <div class="col-sm-9" *ngIf='!showProfile' style="margin-top: 20px;">
          <job-history [isMentor]='false'></job-history>
        </div>
      






    </ng-template>
  </div>



</div>
