
<div class="container-fluid text-center">
    <div *ngIf = 'statusOk' class="text-success">
        <p>Congratulations, a confirmation letter has been sent to the email you provided</p>
        <p> You will need to verify your email address to <a routerLink='/login'>Login </a></p>
        <p>If you have not recieved an email <button class="btn-link" style="padding:0" (click)=resendToken()>
          try resending
      
        </button>
      </p>
        </div>
        <div *ngIf='!statusOk' class="alert alert-danger">
          {{message}}
        </div>
</div>

