<footer id="myFooter">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 myCols">
        <img class="brand" src="/assets/images/logo.png">
        <ul>
        </ul>
      </div>
      <div class="col-sm-6 myCols">
        <h5>Contact us:</h5>
        <p>info@ibar.com</p>
        <ul>
        </ul>


      </div>
      <div class="col-sm-3 myCols">
        <h5>About</h5>
        <p class="text-center">Ibar is a place where seekers of knowledge can pair with mentors to get the best possible extra education in your
          city</p>


      </div>

    </div>
  </div>
  <div class="social-networks">
    <a href="#" class="twitter">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="#" class="facebook">
      <i class="fa fa-facebook-official"></i>
    </a>
    <a href="#" class="google">
      <i class="fa fa-google-plus"></i>
    </a>
  </div>
  <div class="footer-copyright">
    <p>© 2017 Copyright Ibar </p>
  </div>
</footer>
