<div [ngClass]="{'styleVisible':visible,'styleInvisible':!visible}" class="modal">



  <div class="modal-content">

    <div class="modal-header">
      <ng-container *ngIf="authService.loggedIn()">
        <div *ngIf='show' class="alert alert-info">
          <h3>Mentor phone number:</h3>{{number}}</div>

        <ng-container *ngIf= "!isRate"><h2> Payment Confirmation</h2></ng-container>
        <ng-container *ngIf= "isRate"><h2> Rate Mentor</h2></ng-container>
        <span class="close" (click)=toggleVisible()>&times;</span>


      </ng-container>
      <ng-container *ngIf="!authService.loggedIn()">
        <h2>Please
          <a class="form-link" (click)="isRegForm=true">register</a> or
          <a class="form-link" (click)="isRegForm=false">login</a> as a student to continue</h2>
        <span class="close" (click)=toggleVisible()>&times;</span>
      </ng-container>
    </div>
    <div class="modal-body">
      <ng-container *ngIf="authService.loggedIn()">
      <ng-container *ngIf ="isRate">
       <app-rate [mentor]="mentor"></app-rate>
      </ng-container>
       <ng-container *ngIf="!isRate">
          <h5> Amount to be paid is
              <strong>200,000 SLSH </strong> for the month</h5>
            <p> Kindly pay to this number:
              <strong>555556</strong>
            </p>
            <button class="btn btn-primary" (click)=onClick(mentor)>Pay with Zaad Services</button>
       </ng-container>




        
      </ng-container>
      <ng-container *ngIf="!authService.loggedIn()">
        <ng-container *ngIf="isRegForm">

            <app-register-form></app-register-form>
        </ng-container>
        <ng-container *ngIf="!isRegForm">

          <app-student-login></app-student-login>
        </ng-container>
      </ng-container>
    </div>

  </div>


</div>
