.hirebtn {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px;
    color: white;
    margin :5px;
    margin-top: 10px;
    background-color: rgb(9, 72, 245);
    cursor: pointer;
    font-size: 18px;
    border-radius: 4px;

}
.pic {
    border-radius: 50%;
    background-color: #cccccc;
    width: 2em;
    height: 2em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: #ffffff;
    box-shadow: 0px 0px 6px rgba(20, 20, 20, 0.6);
    padding: 3px;
  }
  .card {
      margin-top:20px;
      
  }
  .vertical-line {
      border-left: solid 1px #9e9e9e;
      
  }
  .card-header{
      background-color: #fff;
  }
  .btn-primary {
      margin-left:10px;
  }
