<div class="bg-grey ">
  <div class="container">

    <div class="row ">


      <div>


        <form class="form_bg" (submit)="updatePassword()">
          <div class="alert alert-danger" *ngIf="!updated">
            <p>{{message}}</p>
          </div>
          <h6 class="text-center">Enter new password</h6>
          <br/>


          <div class="input-group">

            <span class="input-group-addon">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
            <input type="password" class="form-control" [(ngModel)]="password" required minlength="4" name="pass" placeholder="enter new password">
          </div>

          <br/>



          <br/>

          <div *ngIf="loading" class="text-center" style="z-index: 9999">
            <img class="rolling" src="/assets/images/Rolling.gif">
          </div>
          <div class="align-center">
            <button type="submit" class="btn submit-btn">Next</button>
          </div>


        </form>

      </div>
    </div>
  </div>
</div>
