<header id="cover">
  <div class="header-text fadeIn ">
    <h2> #1 choice for finding  teachers </h2>
  </div>

  <div class="row">
    <div class="card card-body bg-dark">
      <form (ngSubmit)="onLocationSubmit()" class="form-inline">
        <div class="form-group">
            <city-search (cityEvent)="getCity($event)"></city-search>

        </div>
        <div class="form-group">
         <subject-search (subjectEvent)='getSubject($event)'></subject-search>


        </div>

        <div id="center-fluid">
          <button type="submit" class="btn btn-primary" id="quick_search">Quick Search</button>

        </div>
      </form>

    </div>
  </div>


</header>
<div #about class="container-fluid about">

  <h1> What we do </h1>
  <div class="row ">

    <div class="col-sm-8">


      <p class="text-center aboutText">We help you find the right mentor from our list of skilled teachers to take your learning-journey to the next step.
        Easily find teachers that are close to your city and start right away!</p>


    </div>
    <div class="col-sm-4">
      <img [src]="'https://res.cloudinary.com/mentome/image/upload/v1524177434/smart-owl.svg'" alt="smart owl" width="300" height="300" style="object-fit: cover;">
    </div>
  </div>
</div>


<div #values id="values" class="container-fluid text-center bg-grey">
  <h1> Our Mottos</h1>
  <br>
  <div class="row">

    <div class="col-sm-4">
      <span>
        <img src="/assets/images/time.png" />
      </span>
      <h4> Prompt</h4>
      <p>We value your time and make sure you get the best out of it</p>
    </div>
    <div class="col-sm-4">
      <span>
        <img src="/assets/images/money.png" />
      </span>
      <h4> Affordable</h4>
      <p>Affordable price for a quality mentor</p>
    </div>
    <div class="col-sm-4">
      <span>
        <img src="/assets/images/tick.png" />
      </span>
      <h4>Outcome</h4>
      <p>Impeccable results</p>
    </div>
  </div>
</div>
<div class="container-fluid  about">


  <div class="row ">
    <div class="col-sm-4">
      <img [src]="'https://res.cloudinary.com/mentome/image/upload/v1524177472/typing.jpg'" alt="typing" width="300" height="300" style="object-fit: cover;">
      <br/>
      <a class="small-font" href="https://www.freepik.com/free-photos-vectors/technology">Technology vector created by Freepik</a>
    </div>

    <div class="col-sm-8">
      <h1> Here is how it works </h1>

      <p class="text-center aboutText">Search for mentors in your city with the subject of your choice Ibar will return closest mentors to your respective
        city and subject of choice


    </div>

  </div>
</div>
<div class="container-fluid bg-grey">

  <div class="row">

    <div class="col-sm-8">
      <h1> Easy pay</h1>
      <p class="text-center aboutText"> Easily pay with Zaad, Register your number and get in touch with your new Mentor! </p>
    </div>


    <div class="col-sm-4">
      <img [src]="'https://res.cloudinary.com/mentome/image/upload/v1524177457/mobile-money.jpg'"  alt="mobile-money" width="300" height="300" style="object-fit: cover;">
      <br/>
      <a class="small-font" href='https://www.freepik.com/free-vector/payment-transfer-on-mobile-phones_1189648.htm'>Designed by Freepik</a>
    </div>
  </div>
</div>


<div class="container-fluid text-center about">
  <h1> Start learning</h1>
  <p class="aboutText">Simple as A B C, what are you waiting for? </p>

</div>
