<div class="container ">

  <ng-template #rt let-r="result" let-t="term">
    {{ r.name}}
  </ng-template>


  <div class="fil-form">
    <form  novalidate class="form-inline" (submit)="findMentors()">
      <div class="form-group">
        <city-search [city]='country '(cityEvent)="getCity($event)"></city-search>
      </div>
      <div class="form-group">
        <subject-search [subject]="model" (subjectEvent)='getSubject($event)'></subject-search>



      </div>



      <button type="submit" class="btn btn-primary">Search</button>



    </form>
  </div>
  <div *ngIf="isLoading" class="text-center" style="z-index: 9999">
    <img class="middle-rolling" src="/assets/images/Rolling.gif">
  </div>

  <div>
    <mentor-card *ngFor="let mentor of mentors" [mentor]='mentor'></mentor-card>
  </div>



</div>
