.star-ratings-css {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    /* font-size: 40px;
    height: 40px;
    width: 160px; */
    margin: 0 auto;
    position: relative;
    padding: 0;
    text-shadow: 0px 1px 0 #a2a2a2;
  }
  .star-ratings-css-top {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: inline-flex;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .star-ratings-css-bottom {
    padding: 0;
    display: inline-flex;
    z-index: 0;
  }